<div class="row" >
	<div class="kt-portlet">
		<mat-card class="kt-align-center">
			<mat-card-header style="text-align: center !important;">
				<mat-card-title style="text-align: center !important;">Registres</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<button mat-raised-button color="accent" (click)="impRegistre1()" style="font-size: x-large;">نسخ سجــــــل رخـــــص البنـــــــاء</button>
				<br><br><br>
				<button mat-raised-button color="accent" (click)="impRegistre2()" style="font-size: x-large;">نسخ سجــــــل رخـــــص السكن والمطابقة</button>
				<br><br><br>
				<button mat-raised-button color="accent" (click)="impRegistre3()" style="font-size: x-large;">نسخ سجــــــل طلبات رخـــــص البناء </button>
				<br><br><br>
				<button mat-raised-button color="accent" (click)="impRegistre4()" style="font-size: x-large;">نسخ سجــــــل رخص شغل الأملاك الجماعية العامة مؤقتا لأغراض البناء</button>
	
			</mat-card-content>
		</mat-card>
	</div>
</div>
