<div class="row" >
	<div class="kt-portlet">
		<mat-card class="kt-align-center">
			<mat-card-header style="text-align: center !important;">
				<mat-card-title style="text-align: center !important;">Bordereaux</mat-card-title>
			</mat-card-header>

		</mat-card>
	</div>
</div>
<div class="row">
	<div class="kt-portlet">
		<br><br>

					<button mat-raised-button color="accent" (click)="impRegistre5()">Imprimer Bordereau 1</button>
		<br><br><br>
				<button mat-raised-button color="accent" (click)="impRegistre6()">Imprimer Bordereau 2</button>
		<br><br>
	</div>
</div>


